* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  background-color: #e9ffdb;
  color: #1c3f3a;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.8vw;
  font-size: 600;
}

/* header */
header {
  width: 99.5%;
  height: 5vw;
  border: #1c3f3a thin solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c3f3a;
  color: white;
}

header>div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#logo {
  width: 15%;
  height: 90%;
  font-size: 3vw;
  font-weight: 600;
}

#h_info {
  width: 50%;
  height: 40%;
}

#h_info>a:hover {
  text-decoration: overline;
}

#h_order {
  width: 18%;
  height: 90%;
}

#h_order>a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#h_order button {
  width: 80%;
  height: 90%;
  font-size: 2.1vw;
  color: #1c3f3a;
  font-weight: 600;
  border: 0.5vw double #1c3f3a;
  border-radius: 2.2vw;
  background-color: white;
}

/* section1  */
#section1 {
  background-color: #1c3f3a;
  height: 50vw;
  width: 99.9%;
  border-top: thin solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#sect1_cont1 {
  width: 100%;
  height: 72%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

#sect1_cont1_1 {
  width: 45%;
  height: 100%;
  color: #e9ffdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#sect1_cont1_1>h2 {
  font-size: 5vw;
}

#sect1_cont1_1>p {
  font-size: 2vw;
  margin-top: 4%;
}

#sect1_cont1_1>button {
  margin-top: 4%;
  width: 40%;
  height: 12%;
  color: #1c3f3a;
  font-size: 2vw;
  background-color: white;
  border: 0.5vw double #1c3f3a;
  border-radius: 2vw;
  cursor: pointer;
}

#sect1_cont1_2 {
  width: 50%;
  height: 100%;
}

#sect1_cont1_2>img {
  height: 100%;
  width: 100%;
}

#sect1_cont2 {
  width: 100%;
  height: 28%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#sect1_cont2_1 {
  width: 8%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#sect1_cont2_1>img {
  width: 50%;
}

#sect1_cont2_2 {
  width: 16%;
  height: 100%;
  background-color: #e9ffdb;
}

#sect1_cont2_2>p {
  position: relative;
  top: 83%;
  left: 78%;
  font-size: 1.8vw;
  font-weight: 800;
}

#sect1_cont2_3 {
  color: #e9ffdb;
  background-color: rgb(255, 255, 255, 0.05);
  width: 23%;
  height: 100%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

#sect1_cont2_3>h2 {
  font-size: 2vw;
}

#sect1_cont2_3>p {
  font-size: 1.5vw;
}

#sect1_cont2_4 {
  width: 8%;
  height: 100%;
  background-color: #e9ffdb;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sect1_cont2_4>img {
  width: 50%;
}

#sect1_cont2_5 {
  color: #e9ffdb;
  background-color: rgb(255, 255, 255, 0.05);
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#sect1_cont2_5>div {
  width: 29%;
  height: 100%;
  font-size: 1.8vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#sect1_cont2_5>div>p {
  font-size: 1.5vw;
}

#sect1_cont2_5>div>h3 {
  font-size: 4vw;
  padding-top: 1%;
}

/* section2 */
#section2 {
  height: 70vw;
  width: 99.9%;
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(3, 0.4fr);
  grid-template-rows: repeat(2, 0.5fr);
  column-gap: 4.5%;
}


.category_card {
  margin: 3%;
  background-color: white;
  border-radius: 1vw;
  box-shadow: 0.01vw 0.01vw 2vw grey;
}

.cc_cont1 {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cc_cont1_1 {
  width: 50%;
  height: 100%;
  border-top-left-radius: 1vw;

}

.cc_cont1_2 {
  width: 50%;
  height: 100%;
  border-top-right-radius: 1vw;
  background-color: #1c3f3a;
}

.cc_cont2{
  width: 100%;
  height: 50%;
  background-color: #e9ffdb;
  border-bottom-left-radius: 1vw;
  border-bottom-right-radius: 1vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cc_cont2_1{
  width: 100%;
  height: 75%;
}

.cc_cont2_2{
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

}

.cc_cont2_2>button{
  width: 50%;
  height: 100%;
  font-size: 2vw;
  border-bottom-right-radius: 1vw;
  border-top-left-radius: 1vw;
  font-weight: 600;
  border: none;
  color: white;
  background-color: #1c3f3a;

}
/* section2 */

#section3 {
  background-color: #1c3f3a;
  height: 35vw;
  width: 99.9%;
}

/* section4 */

#section4 {
  height: 50vw;
  width: 99.9%;
  border-top: thin solid white;
}

#sect4_cont1 {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#sect4_cont1>div {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#sect4_cont1>div>p {
  width: 60%;
  height: 70%;
  font-size: 1.8vw;
  padding-left: 2%;
  border-left: thick double;
}

#sect4_cont1>div>h2 {
  width: 70%;
  height: 70%;
  font-size: 3.5vw;
}

#sect4_cont2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 60%;
}


/* footer */
footer {
  background-color: #1c3f3a;
  height: 20vw;
  width: 99.9%;
  border-top: thin solid white;
}
