* {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e9ffdb;
    color: #1c3f3a;
    display: flex;
    flex-direction: column;
    align-items: center;

}

a {
    text-decoration: none;
    color: white;
    font-size: 1.8vw;
    font-size: 600;
}

/* header */
header {
    width: 99.5%;
    height: 5vw;
    border: #1c3f3a thin solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1c3f3a;
    color: white;
}

header>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#logo {
    width: 15%;
    height: 90%;
    font-size: 3vw;
    font-weight: 600;
}

#h_info {
    width: 50%;
    height: 40%;
}

#h_info>a:hover {
    text-decoration: overline;
}

#h_order {
    width: 18%;
    height: 90%;

}

#h_order>a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#h_order button {
    width: 80%;
    height: 90%;
    font-size: 2.1vw;
    color: #1c3f3a;
    font-weight: 600;
    border: 0.5vw double #1c3f3a;
    border-radius: 2.2vw;
    background-color: white;
}

/* section1  */
#section1 {
    background-color: #1c3f3a;
    height: 35vw;
    width: 99.9%;
    border-top: thin solid white;
}


/* section2 */
#section2 {
    height: 35vw;
    width: 99.9%;
    border-top: thin solid white;
}

/* section2 */

#section3 {
    background-color: #1c3f3a;
    height: 35vw;
    width: 99.9%;
    border-top: thin solid white;
}

/* section4 */

#section4 {
    height: 35vw;
    width: 99.9%;
    border-top: thin solid white;
}


/* section5 */

footer {
    background-color: #1c3f3a;
    height: 30vw;
    width: 99.9%;
    border-top: thin solid white;
}

